NodeEditorInterface {
    background-color: transparent;
}

QGraphicsView {
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 10px;
    background-color: transparent;
}

QAbstractScrollArea {
    border: none;
}
