ProjectInterface,SettingInterface,QWidget#ScrollWidget{
    background-color: transparent;
}

ScrollArea {
    background-color: transparent;
    border: none;
}

QLabel#Title{
    font-size: 33px;
    font-family: 'Segoe UI', 'Microsoft YaHei';
}
